body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}


/* HERO SECTION */
.contact-hero{
    position: relative;
    min-height: 100vh;

    background-image: url("/static/img/background.png");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.contact-hero::before{
    content: "";

    position: absolute;

    width: 100%;
    height: 100%;

    background: linear-gradient(
        rgba(15,23,42,0.85),
        rgba(15,23,42,0.4)
    );
}

/* CONTACT CARD */
.contact-container{

    position: relative;
    z-index: 1;

    max-width: 900px;
    width: 100%;

    background: rgba(255,255,255,0.08);

    backdrop-filter: blur(15px);

    padding: 50px;

    border-radius: 25px;

    text-align: center;

    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}
.contact-card{

    background: rgba(255,255,255,0.08);

    margin-top: 25px;

    padding: 25px;

    border-radius: 15px;

    text-align: left;

    transition: 0.4s;
}

.contact-card:hover{

    transform: translateY(-8px);

    background: rgba(56,189,248,0.15);
}
.contact-container h1{
   font-size: 55px;

    margin-bottom: 15px;

    text-shadow:
    0 0 10px rgba(56,189,248,0.4),
    0 0 20px rgba(56,189,248,0.3);
}

.contact-container p{
    line-height: 1.8;
    color: #e2e8f0;
    margin-bottom: 30px;
}

/* TELEGRAM BUTTON */
.telegram-btn{

    display: inline-block;

    margin-top: 15px;

    padding: 15px 30px;

    background: linear-gradient(
        135deg,
        #0ea5e9,
        #38bdf8
    );

    color: white;

    text-decoration: none;

    font-weight: bold;

    border-radius: 12px;

    transition: 0.4s;
}

.telegram-btn:hover{

    transform: scale(1.05);

    box-shadow: 0 0 20px rgba(56,189,248,0.5);
}

/* STARS */
.stars{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    overflow: hidden;
}

.stars::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;

    box-shadow:
        10px 50px white,
        80px 120px white,
        200px 300px white,
        400px 80px white,
        600px 200px white,
        900px 100px white,
        1200px 350px white,
        1400px 220px white,
        1600px 400px white;

    animation: moveStars 20s linear infinite;
}

.stars::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 1px;
    background: white;

    box-shadow:
        100px 300px white,
        200px 500px white,
        400px 150px white,
        600px 350px white,
        800px 250px white,
        1000px 450px white,
        1200px 200px white;

    animation: moveStars 40s linear infinite;
}

@keyframes moveStars{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-1000px);
    }
}