/* ================= NAVBAR ================= */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img{

    width:190px;
}

/* Hide checkbox */

#menu-toggle{

    display:none;
}

/* Hamburger */

.hamburger{

    display:none;

    font-size:35px;

    cursor:pointer;

    color:#0f172a;
}

/* Desktop */

.nav-links{

    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;

}

.nav-links li a{

    color: #0f172a;
    text-decoration: none;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 6px;
    transition: 0.3s;

}

.nav-links li a:hover{

    background-color: #f1f5f9;
}

/* ================= PHONE ================= */

@media (max-width:600px){

    .hamburger{

        display:block;
    }

    .nav-links{

        display:none;

        position:absolute;

        top:75px;

        left:0;

        width:100%;

        background:white;

        flex-direction:column;

        text-align:center;

        box-shadow:0 8px 20px rgba(0,0,0,.15);
    }

    .nav-links li{

        padding:15px 0;

        border-bottom:1px solid #eee;
    }

    /* Checkbox controls menu */

    #menu-toggle:checked ~ .nav-links{

        display:flex;
    }

    nav img{

        width:150px;
    }


}
